In [9]:
import pandas as pd
import cufflinks as cf

In [10]:
cf.go_offline()

In [25]:
df = pd.read_csv('./txs.csv', names=['send_ts', 'recv_ts', 'size', 'round', 'leader_round'])

In [26]:
df.head()

         send_ts        recv_ts   size   round  leader_round
0  1705082094615  1705082096603  11978  514917        514920
1  1705082095268  1705082097617   4819  514919        514922
2  1705082095797  1705082097617  29457  514919        514922
3  1705082096392  1705082099285  13347  514923        514926
4  1705082097017  1705082099285  10755  514923        514926

In [27]:
df['trip_time'] = df['recv_ts'] - df['send_ts']

In [28]:
df.trip_time.describe()

count     782.000000
mean     2403.187980
std       809.669397
min      1195.000000
25%      1947.500000
50%      2231.000000
75%      2595.250000
max      7372.000000
Name: trip_time, dtype: float64

In [32]:
df[['trip_time', 'size']].corr()

           trip_time     size
trip_time    1.00000  0.14222
size         0.14222  1.00000

In [33]:
df['round_lag'] = df['leader_round'] - df['round']

In [34]:
df[['trip_time', 'round_lag']].corr()

           trip_time  round_lag
trip_time   1.000000  -0.128371
round_lag  -0.128371   1.000000

In [35]:
df

,send_ts,recv_ts,size,round,leader_round,trip_time,round_lag
0,1705082094615,1705082096603,11978,514917,514920,1988,3
1,1705082095268,1705082097617,4819,514919,514922,2349,3
2,1705082095797,1705082097617,29457,514919,514922,1820,3
3,1705082096392,1705082099285,13347,514923,514926,2893,3
4,1705082097017,1705082099285,10755,514923,514926,2268,3
...,...,...,...,...,...,...,...
777,1705082568577,1705082575100,23864,515968,515970,6523,2
778,1705082569263,1705082575100,24451,515969,515970,5837,1
779,1705082569909,1705082575100,20123,515969,515970,5191,1
780,1705082570512,1705082575100,5559,515969,515970,4588,1
781,1705082571022,1705082575100,11860,515970,515970,4078,0